In [ ]:
#mount the drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
INPUT_EXCEL_FILE ="/content/drive/MyDrive/worker_comp_work/WC_Final/research_ready3.xlsx"
Output_EXCEL_FILE1 ="/content/drive/MyDrive/worker_comp_work/WC_Final/research_ready_issues_AI.xlsx"
Output_EXCEL_FILE2 ="/content/drive/MyDrive/worker_comp_work/WC_Final/research_ready_facts_AI.xlsx"

In [ ]:
df = pd.read_excel(INPUT_EXCEL_FILE)

In [ ]:
df.columns

In [ ]:
df['Decision'].unique()

In [ ]:
#drop cases with Decision equal to 2
df = df[df['Decision'] != 2]

In [ ]:
#create a data set df_issues by keeping only 'Case ID','Annonymized_Issues','Decision',
df_issues = df[['Case ID','Annonymized_Issues','Decision']]

In [ ]:
#drop any nan or blank rows in "'Annonymized_Issues'"
df_issues = df_issues.dropna(subset=['Annonymized_Issues'])
#drop blanks
df_issues = df_issues[df_issues['Annonymized_Issues'] != '']

In [ ]:
df_issues.shape
#should be 6103

In [ ]:
#write it into excel file Output_EXCEL_FILE
df_issues.to_excel(Output_EXCEL_FILE1, index=False)

In [ ]:
# create a data set df_facts by keeping only 'Case ID','Annonymized_Facts','Decision',
df_facts = df[['Case ID','Annonymized_Facts','Decision']]

In [ ]:
#drop any nan
df_facts = df_facts.dropna(subset=['Annonymized_Facts'])
#drop blanks
df_facts = df_facts[df_facts['Annonymized_Facts'] != '']

In [ ]:
df_facts.shape
#should be 14225

In [ ]:
#write into Output_EXCEL_FILE2
df_facts.to_excel(Output_EXCEL_FILE2, index=False)